@import "variables.less";
@import "normalize.less";
@import "icon.less";
@import "utils.less";

#PerkMenu{
	border-top: 1px solid #ccc;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	.menu{
		li{
			float: left;
		}
	}
}